@using WWW.Domain.Entity;
@model IQueryable<Article>
@{
    ViewData["Title"] = "Page For Tests";
}



<div class="row mt-5 mb-2">

    @foreach (var i in Model)
    {
        <div class="col-lg-4 d-flex">
            <div class="card mb-3">
                <h3 class="card-header text-black">@i.Title</h3>
                <img src="@Url.Action("GetImageById", "Help", new { id = i.Id })" class="img-fluid" alt="Image" />
                <div class="card-body text-black">
                    <p class="card-text">@i.ShortDescription</p>
                </div>
                <div class="card-body d-flex justify-content-between">
                    <p>
                        <a class="btn btn-primary card-link" asp-controller="Article" asp-action="Details" asp-route-slug=@i.slug>More</a>
                    </p>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>
    }











@*@inject ICategoryRepository _categoryRepository;*@
@*@foreach (var i in await _categoryRepository.GetAll())
{
    <h1>@i.Name</h1>
}*@
@*<img src="@Url.Action("GetImageByUrl", "Help", new { url = "https://s1.ticketm.net/dam/a/210/c403ed95-3d6d-4de8-895a-25b9d8958210_TABLET_LANDSCAPE_LARGE_16_9.jpg" })" alt="Image" />*@
