@using Microsoft.AspNetCore.Http
@using System.Web;
@using Newtonsoft.Json;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Mvc;
@using WWW.Domain.Entity;
@using WWW.Domain.Enum;
@using WWW.Domain.Enum.Articles;
@using System.Text.Json;
@inject WWW.DAL.Interfaces.IUserRepository accountrep;
@inject WWW.DAL.Interfaces.ICategoryRepository categoryrepository ;
@model PageIndexViewModel<Article>
@{
    ViewData["Title"] = "List";

    var allParams = HttpUtility.ParseQueryString(Context.Request.QueryString.Value);

    var paramDict= new Dictionary<string, string>();
    foreach (string key in allParams)
    {
        if (key == "page") continue;
        string value = allParams[key];
        paramDict.Add(key, value);
    }

    Dictionary<string, int> SortEnumDict = Enum.GetValues(typeof(ArticleSortOption))
    .Cast<ArticleSortOption>()
    .ToDictionary(e => e.ToString(), e => (int)e);
    Dictionary<string, int> StatusRadioFilterEnumDict = Enum.GetValues(typeof(ArticleFilters.status))
    .Cast<ArticleFilters.status>()
    .ToDictionary(e => e.ToString(), e => (int)e);
    Dictionary<string, int> DateFilterEnumDict = Enum.GetValues(typeof(ArticleFilters.date))
    .Cast<ArticleFilters.date>()
    .ToDictionary(e => e.ToString(), e => (int)e);
}


<h1 style="color:white">Articles</h1>
@{
    if (@Model.Data.Any()){
        if (paramDict.ContainsKey("Category"))
        {
            <strong><h2>List of @paramDict["Category"].Replace("-", " ")</h2></strong>
        }
        else{
            <h1>List of all</h1>
        }
    }
}

<div class="navigation">
        <div class="row">
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filters
                    </button>
                    <div class="dropdown-menu" aria-labelledby="filterDropdown">
                        @{
                            var cat = new Dictionary<string, string>(paramDict);
                            //filterParams["Category"] = null;

                        <h6 class="dropdown-header">Category</h6>

                            <a class="dropdown-item" asp-asp-all-route-data=@paramDict>All</a>
                            foreach (Category item in await categoryrepository.GetNotEmptyCategory())
                            {
                                cat["Category"]=item.slug;

                                <a class="dropdown-item" asp-all-route-data=cat >@item.Name</a>
                            }
                        }
                        <hr />

                    @if (Context.Request.Method == "POST")
                    {
                        Dictionary<string, string> filters = new() {
                        {"Status", Context.Request.Form["StatusType"]},
                        {"Date" , Context.Request.Form["DateType"]}
                        };
                        paramDict["Filters"] = string.Join(",", filters
                                                                    .Where(kv => !string.IsNullOrEmpty(kv.Value))
                                                                    .Select(kv => $"{kv.Key}-{kv.Value}"));
                        <script>
                            window.location.href = '@Url.Action("Index", paramDict)';
                        </script>

                    }
                    <form method="post" enctype="multipart/form-data" asp-all-route-data="paramDict">
                        <h6 class="dropdown-header">Status</h6>

                            @foreach (var i in StatusRadioFilterEnumDict)
                                {
                                    @if (i.Key == "0") continue;
                                    <a class="dropdown-item" href="#" data-filter="@i.Key">
                                        <input type="radio" name="StatusType" id="@i.Key" value="@i.Key">
                                        <label for="@i.Key" >@i.Key</label>
                                    </a>

                                }
                            <hr />
                            <h6 class="dropdown-header">Date</h6>
                            @foreach (var i in DateFilterEnumDict)
                            {
                                <a class="dropdown-item" href="#" data-filter="@i.Key">
                                <input type="radio" name="DateType"  id="@i.Key" value="@i.Key">
                                    <label for="@i.Key">@i.Key.ToString().Replace("_", " ")</label>
                                </a>
                            }
                        <input class="btn btn-success btn-lg float-right " style="width:100%; padding:5px; background-color:red;" type="reset" value="Delete">
                            <button class="btn btn-success btn-lg float-right" style="width:100%; padding:5px;" >Apply</button>
                    </form>
                    

                    </div>
                </div>
            </div
            >
            <div class="col">
                <div class="nav-item dropdown float-end">
                    <a class="nav-link dropdown-toggle" style="position: absolute; right:5%; margin-bottom:1%; background-color:gray; border-radius:20px; padding:10px 20px;" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by</a>
                    <div class="dropdown-menu" style="">
                        @{
                            //if (paramDict.TryAdd("SortOption", null)) paramDict.Add("SortOption", null);
                            var sortoptions = new Dictionary<string, string>(paramDict);
                            foreach (var i in SortEnumDict)
                            {
                                if (i.Key == "UserFavorites") continue;
                                sortoptions["SortOption"] = @i.Key.ToString();

                                <a class="dropdown-item" asp-all-route-data=(sortoptions)>@i.Key</a>
                            }
                        }
                    </div>
                </div>
            </div>
    </div>
</div>


<div class="row mt-5 mb-2">
    @{
        List<Article> listOfFavorite=null;
        if (User.Identity.IsAuthenticated)
        {
             listOfFavorite = (await accountrep.GetValueByID(int.Parse(User.FindFirstValue("UserId")))).FavEvent;
        }
    }
    @foreach (var i in Model.Data){
        @* <div class="col-lg-4">
            <div class="modal-body articleDescription">
                <div class="embed-responsive embed-responsive-16by9">
                    <img src="@Url.Action("GetImageById", "Help", new { id = i.Id })" class="img-fluid" alt="Image" />
                </div>


                <p>@i.Title</p>
                <p>@i.ShortDescription</p>
            </div>
            <div class="modal-footer">
                <p><a class="btn btn-primary">More</a></p>
            </div>
        </div>*@

        <div class="col-lg-4 d-flex">
            <div class="card mb-3">
            @if(User.Identity.IsAuthenticated){
                    @if (!listOfFavorite.Contains(i))
                    {
                        <a id="@i.Id" href="javascript:void(0);" onclick="AddOrDeleteFavoriteEvent(@i.Id)" class="text-warning display-5 text-decoration-none">&#9734;</a>
                    }
                    else
                    {
                        <a id="@i.Id" href="javascript:void(0);" onclick="AddOrDeleteFavoriteEvent(@i.Id)" class="text-warning display-5 text-decoration-none">&#9733;</a>
                    }
                }
            <h3 class="card-header text-black">@i.Title</h3>
            @*<div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
            </div>*@
           
                <img src="@Url.Action("GetImageById", "Help", new { id = i.Id })" class="img-fluid" alt="Image" />
            <div class="card-body text-black">
                <p class="card-text">@i.ShortDescription</p>
            </div>
            <div class="card-body d-flex justify-content-between">
                    <p>
                        <a class="btn btn-primary card-link" asp-action="Details" asp-route-slug=@i.slug >More</a>
                    </p>
            </div>
            <div class="card-footer text-muted">
                    @if (@i.Date !=null)
                    {
                        @i.Date.Date_Of_Start

                    }
                </div>
        </div>
        </div>
        @*<div class="card">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>*@
    }


@section Pagination {
        @{
            paramDict.Add("page", null);
        }
            <div class="container" style="display: flex;justify-content: center;flex-wrap: wrap;">
        <ul class="pagination pagination-lg ">
            @if (Model.PageViewModel.HasPreviousPage) {
                <li class="page-item">
                        @{
                            paramDict["page"] = (Model.PageViewModel.СurrentlyPageNumber - 1).ToString();
                        }
                        <a class="page-link rounded-0 " asp-all-route-data=(paramDict)>&laquo;</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link rounded-0 " >&laquo;</a>
                </li>
            }
            @*########################################################################*@
                @{
                    int firtspage = 1;
                    int lastpage = Model.PageViewModel.TotalPages;

                    if (Model.PageViewModel.СurrentlyPageNumber > 5)
                    {
                        firtspage = Model.PageViewModel.СurrentlyPageNumber-3;
                    }
                    if (Model.PageViewModel.СurrentlyPageNumber+3 > Model.PageViewModel.TotalPages && Model.PageViewModel.TotalPages > 7)
                    {
                        firtspage = Model.PageViewModel.TotalPages-6;
                    }





                    if (Model.PageViewModel.СurrentlyPageNumber+3 < Model.PageViewModel.TotalPages)
                    {

                        lastpage = Model.PageViewModel.СurrentlyPageNumber + 3;
                    }
                    if (Model.PageViewModel.СurrentlyPageNumber < 3 && Model.PageViewModel.TotalPages > 7)
                    {
                        lastpage = 6;
                    }
                }

            @if (firtspage != 1)
            {
                    <li class="page-item">
                        @{
                            paramDict["page"] = "1";
                        }
                        <a class="page-link" asp-all-route-data=(paramDict)>1</a>
                    </li>
                    <li class="page-item"><a class="page-link">...</a></li>
            }
            @for (int i = firtspage; i <= lastpage; i++)
            {
                @if (i == Model.PageViewModel.СurrentlyPageNumber)
                    {
                        <li class="page-item active" >
                            <a class="page-link" >@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            @{
                                paramDict["page"] = @i.ToString();
                            }
                            <a class="page-link" asp-all-route-data=(paramDict)>@i</a>
                        </li>
                }
            }
                @if (Model.PageViewModel.СurrentlyPageNumber + 3 < Model.PageViewModel.TotalPages)
                {
                    <li class="page-item"><a class="page-link">...</a></li>
                    <li class="page-item">
                        @{
                            paramDict["page"] = @Model.PageViewModel.TotalPages.ToString();
                        }
                        <a class="page-link" asp-all-route-data=(paramDict)>@Model.PageViewModel.TotalPages</a>
                    </li>
                }
            @*########################################################################*@
            @if (Model.PageViewModel.HasNextPage)
            {
                <li class="page-item">
                        @{
                            paramDict["page"] = (Model.PageViewModel.СurrentlyPageNumber + 1).ToString();
                        }
                        <a class="page-link rounded-0 " asp-all-route-data=(paramDict)>&raquo;</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link rounded-0 " href="#">&raquo;</a>
                </li>
            }
        </ul>
    </div>
}


@section Scripts{
        <script type="text/javascript" src="~/js/AddOrDeleteFavoriteEvent.js"></script>
}